.onMakeKey-form {
    display:flex;
    position: absolute;
    top:15%;
    right:10%;
}

.create-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #22b8cf;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.create-button:hover {
    background: #3bc9db;
}

.onMakeKey-form .view-key {
    position: absolute;
    top: 50px;
    left: -100px;    
    font-size: 1.25rem;    
    width: 300px;
    height: 35px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: white;
}